*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: ubuntu
    font-size: 16px
    color: white
code
    color: white !important
    padding: 15px !important
    margin: 15px !important
    border: 2px solid white
#root
    background-color: grey
    padding: 20px !important
    min-height: 100vh
    min-width: 100vw
.funado
    display: none

button
    margin: 5px !important
    padding: 5px !important
.iform
    margin: 10px 0px !important
.col
    margin: 10px !important
    padding: 10px !important
    border: 1px solid white